/* Главный файл стилей - импорт всех модулей */

@import url("base.css");
@import url("header.css");
@import url("layout.css");
@import url("navigation.css");
@import url("buttons.css");
@import url("catalog.css");
@import url("product.css");
@import url("slider.css");
@import url("forms.css");
@import url("contacts.css");
@import url("footer.css");
