body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}
/* Шапка */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 20px;
  min-height: 100px;
  height: auto;
  margin: 20px;
}

.Logo {
  object-fit:cover ;
  max-height: 200px;
  max-width: 150px;
  flex-wrap: wrap;
}

.Logo img{
  max-width: 100%;
  height: auto;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.login-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  
}

.form-row label {
  white-space: nowrap;
}

.login-form input {
  width: 120px;
}

.login-form button {
  align-self: flex-end;
}

.logo {
  font-weight: bold;
}

.login-form {
  text-align: right;
  font-size: 14px;
}
/* Конец шапки */

/* Разделы */
.top-menu {
  background-color: #dcdcdc;
  text-align: center;
  padding: 5px;
}

.top-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: calc(100% - 40px);
  max-width: 1240px;
  margin: 10px auto;
  display: flex;
}

.sidebar {
  width: 180px;
  background-color: #dcdcdc;
  padding: 15px;
}

.sidebar a {
  display: block;
  color: #0000cc;
  text-decoration: none;
  margin-bottom: 10px;
}

.content {
  flex-grow: 1;
  background-color: #dcdcdc;
  position: relative;
  padding: 20px;
  margin: 0px;
}

.top_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 190px;
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}

.top_table a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}


table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

.right-image {
  width: 200px;
  height: auto;
  float: inline-end;
}

.footer {
  background-color: #dcdcdc;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.back_button {
  width: 180px;
  padding: 15px;
}
/* Другие страницы */

.price {
  flex-grow: 1;
  background-color: #dcdcdc;
  position: relative;
  padding: 20px;
}

.sofa {
  max-width: 600px;
  width: 100%;
  height: auto;
  position: relative;
  float: inline; /* убрать float, чтобы текст не обтекал */
  display: block;
  margin: 0 auto 16px; 
}

.price {
  display: block;
  width: 70%;
  text-align: center;
  clear: both; /* на случай, если где-то ещё остался float */
  margin: 8px 0;
}

.buy-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #555;
}
