body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.header {
  background-color: #ccc;
  width: calc(100% - 40px);
  max-width: 1240px;
  height: 120px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.Logo {
  width: 100px;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.login-form {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: 8px;
}
.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.form-row label {
  white-space: nowrap;
}

.login-form input {
  width: 120px;
}

.login-form button {
  align-self: flex-end;
}

.logo {
  font-weight: bold;
}

.login-form {
  text-align: right;
  font-size: 14px;
}

.top-menu {
  background-color: #eee;
  text-align: center;
  padding: 5px;
}

.top-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: calc(100% - 40px);
  max-width: 1240px;
  margin: 10px auto;
  display: flex;
}

.sidebar {
  width: 180px;
  background-color: #dcdcdc;
  padding: 15px;
}

.sidebar a {
  display: block;
  color: #0000cc;
  text-decoration: none;
  margin-bottom: 10px;
}

.content {
  flex-grow: 1;
  background-color: #dcdcdc;
  padding: 20px;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

.footer {
  background-color: #ccc;
  text-align: center;
  padding: 10px;
}
